/.DS_Store
/.liczby_tablicy.cpp.swp
/.tab2.cpp.swp
/.vscode
/7
/7.dSYM
/algorytm_euklidesa_odejmowanie
/algorytm_euklidesa_odejmowanie.dSYM
/cwiczenia
/cwiczenia-kopia
/cwiczenia-kopia.dSYM
/cwiczenia.dSYM
/il6
/il6.dSYM
/ile_cyfr
/ile_cyfr.dSYM
/kw
/kw.dSYM
/kwadrat_w_prost
/kwadrat_w_prost.dSYM
/l6
/l6.dSYM
/liczby_tablicy
/liczby_tablicy.dSYM
/liczeniecyfrdoliczby6
/liczeniecyfrdoliczby6.dSYM
/licznik_liter
/licznik_liter.dSYM
/licznik_literrrr
/licznik_literrrr.dSYM
/losowanie
/losowanie.dSYM
/main
/main.dSYM
/nliczbnatruralnych
/nliczbnatruralnych.dSYM
/nwd, euklides w cpp
/nwd, euklides w cpp.dSYM
/parzystosc
/parzystosc.dSYM
/sprawdzian4
/sprawdzian4.dSYM
/tab2
/tab2.dSYM
/tab_3
/tab_3.dSYM
/tep
/tep.dSYM
/znajdywanie7i3
/znajdywanie7i3.dSYM